.myhero {
    position: relative; 
}

.myhero::before {    
    content: "";
    background-image: url('../../assets/images/chair.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.20;
    border-radius: 0px 0px 20px 20px;
}